.grid_container{
    display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
#img{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.white{
    width: 100%;
    z-index: 0;
    grid-area: 2/1;
}
.gray{
    width: 150px;
    background-color: gray;
    grid-area: 1/2;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    width: auto;
}