body,head,footer {
    text-align: center;
    background-color: pink;
}
h1 {
    color: white;
    font-size: 250%;
    font-weight: bold;
    font-family: sans-serif;
    }
h1:hover {
        color: black;
}
#sim {
    color: white;
}
#author{
    color:white;
    font-weight: bold;
    font-family: sans-serif;
}
#list1 {
    text-align: left;
    margin: auto;
    width: 25%;
    font-weight: bold;
}
img {
    width: 10%;
    display: block;
    margin: 0 auto;
}
#citation {
    text-align: center;
    color:white;
    font-size: 250%;
}
