  /* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Merriweather, Helvetica, sans-serif;
}
#logo_link{
    padding: 5px;
}
.logo{
    width: 90px;
}
nav a{
    text-align: center;
    color:white;
    background-color:#808080;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
  border-radius: 5px;
}
nav a:hover{
    background-color:#EF233C;
    color: white;
  }
nav {
   display: flex;
   justify-content: right;
}
header{
    background-color:#808080;
    display: grid;
    grid-template-columns: 25px auto;
    align-items: center;
    height: auto;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
  main section {
    text-align: center;
  }

#welcome{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  }
.pic_ceo{
  grid-area: 2/2/1/4;
  width: 50px; 
  height: 100px;
  margin: 10px;
  float: left;
}

.message{
  width: 500px; 
  height: 200px;
  margin: 10px;
}


footer {
  background-color: #808080; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
  padding: 20px; 
  }
  
  
  footer p {
  color: white; 
  margin: 10px; 
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
  font-size: small; 
  align-self: end; 
  text-align: center; 
  }
  
  
  footer img {
  width: 100px; 
  height: 100px; 
  }
  
  
  footer img[alt="symbol"] {
  grid-column: 1 / 2;
  grid-row: 1 / 2; 
  justify-self: start;
  align-self: start;
  }
  

  footer img[alt="test"] {
  grid-column: 3 / 4; 
  grid-row: 1 / 2; 
  justify-self: end; 
  align-self: start; 
  }
  
  .social {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center; 
  }
  
  .social img {
  width: 75px; 
  height: 75px;
  margin: 50px; 
  }

  #link {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
position: relative;
background-image: url('images/equipe.jpg');
background-size: cover;
}

.admin, .official, .contact {
position: absolute;
}

.admin {
grid-area:2/1;
top: 10px;
left: 0;
z-index: 2;
}

.official {
grid-area: 2/2;
top: 10px;
align-self: center;
z-index: 2;
}

.contact {
grid-area: 2/3;
top: 10px;
align-self: right;
z-index: 2;
}

#link img {
z-index: 1;
width: 100%;
height: 100%;
}
